* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image:url('vaiseembora.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

header {
    width: 100%;
    height: 100%;
}

header > nav {
    text-align: center;
    padding: 25px;
    text-align: right;
    margin-right: 10px;
    font-size: larger;
}

header > nav > a {
    color: aliceblue;
    text-decoration: none;
    padding: 5px;
}


